/**
 * KazouGroup Toolkit Styles
 */

 $settings: (
  theme: light,
  accent: hsl(0, 0%, 46%),
  menu-width: 14rem
);

// VENDOR
@import "vendor/foundation";

// PARTIALS
@import "partials/variables";
@import "partials/code";
@import "partials/color-chips";
@import "partials/color-variables";
@import "partials/controls";
@import "partials/item";
@import "partials/layout";
@import "partials/menu";
@import "partials/responsive";
@import "partials/typography";

// COMMONS
@import "commons/kazouKit";

// COMPOSANTS
@import "composants/04-kazouTextWithCta";
@import "composants/28-kazouTypeCta";