.kazou-imageTextCarousel-wrapper {
  visibility: hidden;
  .kazou-imageTextCarousel-container-composant {
    position: relative;
  }
  .kazou-container-navigation-left,
  .kazou-container-navigation-right {
    @include small() {
      display: none;
    }
    @include medium-large() {
      display: none;
    }
    height: 100%;
    top: 0;
    left: 0;
    width: 12%;
    cursor: pointer;
    z-index: 1;
  }
  .slick-slide {
    position: relative;
  }
  .slick-slider {
    line-height: 0;
  }
  .kazou-imageTextCarousel-image {
    padding-left: 0px;
    @include large() {
      padding-left: 130px;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .kazou-imageTextCarousel-container-items {
    padding-top: 30px;
  }
  .kazou-imageTextCarousel-content-item {
    position: relative;
    padding: 30px 15px;
    top: 50%;
    transform: translateY(0%);
    @include large() {
      position: absolute;
      padding: 0px 165px 0px 115px;
      transform: translateY(-50%);
    }
    .kazou-imageTextCarousel-content-subtitle {
      @include small() {
        text-align: center;
      }
    }
    .kazou-imageTextCarousel-content-cta {
      margin-top: 40px;
    }
  }
  .kazou-button-right {
    position: absolute;
    top: 50%;
    border: solid $dark-orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
    right: 9px;
    background-color: transparent;
    margin-right: 20px;
    z-index: 1;
  }
  .kazou-button-left {
    position: absolute;
    top: 50%;
    border: solid $dark-orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    cursor: pointer;
    left: 9px;
    background-color: transparent;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 20px;
    z-index: 1;
  }
}