---
title: KazouGroup Srl | Documentation
fabricator: true
---

<h1 data-f-toggle="labels" class="kazou-title kazou-orange-color kazou-uppercase">Documentation</h1>
<div class="kazou-grey-content kazou-text-justify">Dans cette rubrique, vous trouverez les diffèrentes documentations utilisées par KazouGroup Srl pour réaliser outils, composants et pages.
</div>

{{#each docs}}

	<div class="f-item-group">
		<h2 id="{{@key}}"><a href="#{{@key}}">{{name}}</a></h2>
		{{{content}}}
	</div>

{{/each}}
