---
title: KazouGroup Srl | Overview
fabricator: true
---

<h1 class="kazou-orange-title kazou-uppercase">Vue d'ensemble</h1>
<div class="kazou-grey-content kazou-text-justify">Cet outil UI (User Interface) est la gamme des produits de la
  structure KazouGroup Srl. C'est un système de conception hautement modulaire pour le développement
  rapide de pages Web. Il contient différents outils, modules et composants pouvant être assemblés dans des mises en
  page plus complexes. Ce template contient des exemples de travail, des extraits de code, de la documentation et des
  directives de style.
</div>

<!-- <h2>Usage</h2>

<p>Start by adding the following files to your page:</p>

<pre
  class="language-markup"><code class="language-markup">&lt;link rel=&quot;stylesheet&quot; href=&quot;assets/toolkit/styles/toolkit.css&quot;&gt;</code></pre>

<pre
  class="language-markup"><code class="language-markup">&lt;script src=&quot;assets/toolkit/scripts/toolkit.js&quot;&gt;&lt;/script&gt;</code></pre> -->


<h2 class="kazou-red-subtitle">Couleurs</h2>
<div class="kazou-grey-content kazou-text-justify">Les diffèrents composants de la gamme des produits de KazouGroup Srl
  utilisent les couleurs suivantes: </div>

{{#each toolkit.colors}}
<div class="f-color-chips">
  {{#each this}}
  <div class="f-color-chip">
    <div class="f-color-chip__name">{{@key}}</div>
    <div class="f-color-chip__color">{{this}}</div>
  </div>
  {{/each}}
</div>
{{/each}}

<h2 class="kazou-red-subtitle">Fond d'écran (Background Colors)</h2>
<div class="kazou-grey-content kazou-text-justify">Les diffèrents composants de la gamme des produits de KazouGroup Srl
  utilisent les fonds d'écran suivants: </div>

{{#each toolkit.backgrounds}}
<div class="f-color-chips">
  {{#each this}}
  <div class="f-color-chip">
    <div class="f-color-chip__name">{{@key}}</div>
    <div class="f-color-chip__color">{{this}}</div>
  </div>
  {{/each}}
</div>
{{/each}}

<h2 class="kazou-red-subtitle">Typography</h2>
<div class="kazou-grey-content kazou-text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam
  enim sunt sapiente molestias, sed dicta inventore
  consectetur beatae asperiores, aliquid laboriosam animi, praesentium repudiandae et, quam saepe sint cupiditate
  reiciendis.</div>
  <h2 class="kazou-red-subtitle">Heading</h2>
<div class="row expanded collapse">
  <div class="column large-6">
    <h1 class="kazou-orange-heading">Heading Level 1</h1>
    <h2 class="kazou-orange-heading">Heading Level 2</h2>
    <h3 class="kazou-orange-heading">Heading Level 3</h3>
    <h4 class="kazou-orange-heading">Heading Level 4</h4>
    <h5 class="kazou-orange-heading">Heading Level 5</h5>
    <h6 class="kazou-orange-heading">Heading Level 6</h6>
  </div>
  <div class="column large-6">
    <h1 class="kazou-red-heading">Heading Level 1</h1>
    <h2 class="kazou-red-heading">Heading Level 2</h2>
    <h3 class="kazou-red-heading">Heading Level 3</h3>
    <h4 class="kazou-red-heading">Heading Level 4</h4>
    <h5 class="kazou-red-heading">Heading Level 5</h5>
    <h6 class="kazou-red-heading">Heading Level 6</h6>
  </div>
</div>