/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

$settings: (
  theme: light,
  accent: hsl(0, 0%, 46%),
  menu-width: 14rem
);

// COMPOSANTS
.kazou-composant {
  padding-top: 30px;
}
.kazou-container-composant {
  margin-top: 20px;
}

button[type="submit"] {
  cursor: pointer;
}