/*  Color names reference: https://www.color-blindness.com/color-name-hue/
/*  Color convert HEX from RBGA: http://hex2rgba.devoth.com/
/*  -------------------------------------------------------------------  */

/* Whites */
$white: #ffffff;
$smoke-white: #f6f6f6;
$snow-white: #fff0f0;

/* Greys */
$zircon-grey: #eff0f0;
$shuttle-grey: #63666a;
$nero-grey: #1b1b1b;
$gallery-grey: #e0dbd7;
$chateau-grey: #a1a3a5;
$suva-grey: #888888;
$charcoal-grey: #4a4a4a;

/* Blacks */
$black: #000000;

/* Reds */
$fire-engine-red: #d12420;
$coral-candy-red: #f6d3d2;
$falu-red: #930d18;
$alizarin-red: #d9272e;

/* Blues */
$blue: #0800fc;
$white-lilac-blue: #e0e0e1;
$dodger-blue: #4d90fe;
$maya-blue: #7aacfe;
$prussian-blue: #100033;


/* Violets */
$dolphin: #65656a; 

/* Yellows (black) */
$maire: #27251f;

/* Greens */
$green: #048600;

/* Orange */
$dark-orange: #ff8000;
$tangerine-orange: #d3a500;
$peach-orange: #ffd3a8;


/* End -------------------------------------------------------------- */