<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  {{#if fabricator}}
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/styles/f.css">{{/if}}
  <!-- KazouGroup Toolkit Styles -->
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
  <!-- /KazouGroup Toolkit Styles -->
</head>

<body>

  {{#if fabricator}}
  {{> f-icons}}
  {{> f-menu}}
  <div class="f-container">
    {{> f-control-bar}}
    {{/if}}

    {% body %}

    {{#if fabricator}}
  </div>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/scripts/f.js"></script>
  {{/if}}
  <!-- JQuery scripts -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!-- /JQuery scripts -->
  <!-- Slick scripts -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
  <!--/Slick scripts -->
  <!-- Toolkit scripts -->
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
  <!-- /Toolkit scripts -->
</body>

</html>